---
---

/*** variables ***/
$uw-purple: #4b2e83;

$nav-height: 60px;

/*** mixins ***/

$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

body { }

.myuw-search {
    background-color: $uw-purple;
    line-height: 35px;
    height: 35px;
    color: #ccc;
    padding: 0 15px;
    clear: left;

    a { color: #fff; display: inline-block; float: left; }
    .myuw-search-links { display: inline-block; float: right; }
}

.myuw-navigation { background: #ECE9E2; 

    @include desktop { position: relative; };

    .myuw-logo {

        background: #fff;
        border-bottom: 2px solid #d1d1d1;

        padding: 0 15px;

        background-image: url("/assets/img/uw-logo.png");
        background-repeat: no-repeat;
        background-position: 97%;
        background-size: 50px;

        height: $nav-height;
        line-height: $nav-height;

        a { font-size: 28px; font-weight: bold; }
        button { text-decoration: underline; color: blue;
            @include desktop { display: none; };
        }

    }

    .myuw-menu { margin: 0; padding: 0;   list-style: none; display: none;

        @include desktop { position: absolute; top: 0; left: 200px; right: 100px; background: transparent; display: block; };

        li { line-height: 30px; padding: 0 15px;
            @include desktop { display: inline-block; margin-right: 20px; line-height: $nav-height; };
        }
    }

}

.myuw-content {

    margin: 15px 15px 150px 15px;

    .myuw-card { background: #fff;padding: 15px; margin-bottom: 15px; }
}

.myuw-quicklinks {
    position: fixed;
    bottom: 0;
    background: #ECE9E2;
    border-top: 2px solid #d1d1d1;
    padding: 20px;
    left:0;
    right: 0;

    ul { margin: 0; }
}
