---
---

/*** variables ***/
$uw-purple: #4b2e83;

$nav-height: 65px;

/*** mixins ***/

$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

/*** helpers ***/

.visually-hidden  {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}



/*** myuw ***/

.myuw-wrapper {
    @include desktop { max-width: 1000px; margin: 0 auto; position: relative; };
}

.myuw-search {
    display: none;
    background-color: #eee;
    text-align: center;
    padding: 5px;
}

.myuw-purple-bar {
    background-color: $uw-purple;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    clear: left;
    font-size: 14px;

    .fa-stack { font-size: 12px; color: lighten( $uw-purple, 15% ); margin-left: -5px; }

    a { color: #fff; display: inline-block; text-decoration: none; }

    .myuw-search-links { display: inline-block; float: right; text-transform: uppercase; color: #fff;
        i { display: inline-block; width: 20px; text-align: center; }
        button { color: #fff; text-decoration: none;  text-transform: uppercase; background: none; border: none; padding: 0; }
    }
}

.myuw-navigation {

    @include desktop { position: relative; box-shadow: 0 1px 3px rgba(34,25,25,.4); };

    .myuw-logo {
        position: relative;
        background: #fff;
        //border-bottom: 2px solid #d1d1d1;

        box-shadow: 0 1px 3px rgba(34,25,25,.4);
        @include desktop { box-shadow: none; };

        padding: 0 15px;
        background-image: url("/assets/img/uw-logo.png");
        background-repeat: no-repeat;
        background-position: 95% 99%;
        background-size: 60px;

        height: $nav-height;
        line-height: $nav-height;

        //a { font-size: 28px; font-weight: bold; }

        button {
            text-decoration: none;
            color: $uw-purple;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            line-height: $nav-height;
            padding: 0;
            margin: 0;
            background: none;
            border: none;

            span { font-size: 15px; margin-top: -3px; }
            @include desktop { display: none; };
        }

    }

    .myuw-menu { margin: 0; padding: 20px 0; list-style: none; display: none; background: #ECE9E2;

        @include desktop { padding: 0; position: absolute; top: 0; left: 0; right: 100px; background: transparent; display: block; };

        li { line-height: 30px; padding: 0 15px; font-weight: bold; text-transform: uppercase;
            a { text-decoration: none; }
            @include desktop { display: inline-block; line-height: $nav-height; padding-left: 0; };
        }
    }

}

.myuw-content { margin: 0 20px;

    @include desktop { margin-top: 5px; };

    .myuw-card { padding: 20px 0; border-bottom: solid 1px #ddd; background: #fff;

        @include desktop { width: 70%; };
    }
}

.myuw-quicklinks {

    //background: $uw-purple;
    //border-top: 3px solid lighten( $uw-purple, 15% );
    background: #fff;
    padding: 20px;

    @include desktop { position: absolute; width: 23%; top: 20px; right: 0; border: solid 1px #ddd; };

    ul {
        //margin: 0;
        //color: #fff;
        //list-style: none; margin: 0; padding: 0;
    }
}
