---
---

/*** variables ***/
$uw-purple: #4b2e83;

.myuw-search {
    background-color: $uw-purple;
    line-height: 30px;

    a { color: #fff; }
}

.myuw-navigation {

    $nav-height: 60px;

    .myuw-profile {

        background-image: url("/assets/img/uw-logo.jpg");
        background-repeat: no-repeat;
        background-position: 99%;
        background-size: contain;

        height: $nav-height;
        line-height: $nav-height;
        border-bottom: 2px solid #eee;
        .fa-circle { color: red; }
    }
    .myuw-menu { margin: 0; padding: 0; background: #f3f3f3;
        li { margin-right: 20px; line-height: 25px; }
    }

}
