---
---

/*** colors ***/
$uw-purple: #4b2e83;
$uw-purple-dark: #1a0555;
$uw-purple-light: #7b59b3;

$uw-gray: #E1E2E1;

$status-green: #27ae60;
$status-red: #e74c3c;

/*** heights ***/
$nav-height: 65px;
$bar-height: 40px;

/*** mixins ***/

$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin large-desktop {
    @media (min-width: #{$large-desktop-width}) {
        @content;
    }
}

/*** helpers ***/

.visually-hidden  {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.visually-hidden-mobile  {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;

    @include desktop { position: initial; height: auto; width: auto; };
}

.slide-down {
    max-height: 1000px !important;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}


/*** myuw flexbox layout ***/

.myuw-body {

    .myuw-wrapper {

        @include desktop {

            display: flex;
            flex-wrap:wrap;
            flex-direction:row;
            justify-content:flex-start;
            align-items:stretch;

            .myuw-menu { order:1; flex-basis:200px; height:100%; }
            .myuw-content { order:2; flex:1; height:100%; margin: 0 20px; }
            .myuw-quicklinks { order:3; flex-basis:200px; height:100%; }
        }

    }

}

/*** myuw ***/

body { background: #fefefe; padding: 0; margin: 0; font-family: "Open Sans",Helvetica,Arial,Verdana,sans-serif; }

.myuw-search, .myuw-thin-bar, .myuw-navigation, .myuw-body, .myuw-footer {

    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

}

.myuw-wrapper { margin: 0 auto; padding: 0 20px;
    @include desktop { position: relative; max-width: 1200px };
}


.myuw-search {
    background-color: #eee;
    text-align: center;
    max-height: 0;
    overflow-y: hidden;

    form { padding: 5px;
        input { background: none; border: none; }
    }

}

.myuw-thin-bar {
    background: $uw-purple-dark;
    line-height: $bar-height;
    height: $bar-height;
    font-size: 14px;

    a { color: #fff; display: inline-block; text-decoration: none;
        .fa-stack { font-size: 12px; color: lighten( $uw-purple, 15% ); }
    }

    .myuw-netid {
        span { font-size: 13px; color: #fff; display: inline-block; margin-left: 3px; }
    }

    .myuw-search-links { display: inline-block; float: right; color: #fff; margin-right: -3px; font-size: 16px;
        a { display: inline-block; min-width: 30px; text-align: center; margin-left: 8px;
            span { font-size: 13px; color: #fff; }
        }
        button { color: #fff; text-decoration: none; padding: 0; min-width:30px; height: $bar-height; display: inline-block; margin-left: 8px;
            background: none; border: none;
            span { font-size: 13px; color: #fff; }
        }
    }
}

.myuw-navigation { background: $uw-purple; height: $nav-height;

    .myuw-wrapper {
        background-image: url("/assets/img/uw-logo-white-min.png");
        background-repeat: no-repeat;
        background-size: 45px;
        background-position: right 20px bottom;
        height: $nav-height;
    }

    .myuw-title { display: none;

        @include desktop {
            float: left;
            display: inline-block;
            color: #fff;
            font-size: 26px;
            font-weight: 400;
            line-height: $nav-height;
            height: $nav-height;
        }
    }

    .myuw-logo { float: left;

        display: inline-block;
        position: relative;
        //box-shadow: 0 1px 3px rgba(34,25,25,.25);
        //background-image: url("/assets/img/uw-logo-white.png");
        background-repeat: no-repeat;
        background-size: 60px;
        background-position: 89% 100%;

        @include desktop { background-position: 98% 100%; box-shadow: none; padding: 0; display: none; };

        height: $nav-height;
        line-height: $nav-height;

        button {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            //text-transform: uppercase;
            font-weight: 400;
            line-height: $nav-height;
            height: $nav-height;
            display: inline-block;
            padding: 0;
            margin: 0;
            background: none;
            border: none;
            margin-left: -2px;

            //@include desktop { display: none; }

            .fa-stack { font-size: 15px; margin-top: -3px; color: #ccc; }

        }

    }

    .myuw-notices { display: none; color:#fff; float: right; height: $nav-height; line-height: $nav-height; font-size: 14px;
        @include tablet { display: inline-block;; margin: 0; }
        @include desktop { display: inline-block;; margin: 0; }
    }

}

.myuw-menu {  margin: 1px -10px; background: #fff; max-height: 0; overflow: hidden; font-size: 14px;

    @include desktop { max-height: 1000px; margin: 0; overflow: visible; }

    ul { background: #e1e1e1; margin: 10px 0 0 0; padding: 0; list-style: none; border-radius: 3px;
        @include desktop { margin: 0; }
    }

    li { line-height: 30px; padding: 0; margin-left: 15px; font-weight: bold; text-transform: uppercase;

        &:first-child { padding-top: 10px; }
        &:last-child { padding-bottom: 10px; }

        a { text-decoration: none; color: #000;

            @include desktop {  }

            .fa { display: none;
                @include desktop { display: inline-block; width: 20px; color: #000; }
            }
        }


    }
}

.myuw-body {

    @include desktop { margin-top: 15px;  }

    h1 { font-size: 22px; color: #444; font-weight: 400; }
    h2 { margin-top: 0; color: $uw-purple; font-size: 16px; font-weight: 400; text-transform: uppercase; }
}

.myuw-content { margin: 0;

    .myuw-card { padding: 20px 0; border-bottom: solid 1px #ddd; background: #fff;
        @include desktop { border: none; margin-bottom: 15px; padding: 20px; box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.1); };
    }

    .myuw-topper { margin-left: -20px; margin-right: -20px; font-size: 12px; padding: 8px;

        @include desktop { margin: 0 0 20px 0; padding: 0; }

        a { text-decoration: none; color: #666; display:block; line-height: 35px; border: solid 1px #ddd; border-radius: 3px;
            span { font-weight: bold; font-size: 14px; color: #222; display: inline-block; margin-left: 3px; }
        }

        .myuw-accounts { display: flex;

            a { flex: 1;  text-align: center;
                &:first-child { margin-right: 4px; }
                &:last-child { margin-left: 4px; }
            }
        }

        .myuw-week-counter {
            a { margin-top: 8px; }
        }

    }


}

.myuw-quicklinks { background: #fff; }

.myuw-footer { padding: 0 20px; line-height: $bar-height; font-size: 14px; color: #999; }
