---
---

/*** variables ***/
$uw-purple: #4b2e83;
$nav-height: 65px;
$bar-height: 40px;

/*** mixins ***/

$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin large-desktop {
    @media (min-width: #{$large-desktop-width}) {
        @content;
    }
}

/*** helpers ***/

.visually-hidden  {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.visually-hidden-mobile  {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;

    @include desktop { position: initial; height: auto; width: auto; };
}

.slide-down {
    max-height: 1000px !important;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

/*** myuw ***/

body { background: #fefefe; padding: 0; margin: 0; font-family: "Open Sans",Helvetica,Arial,Verdana,sans-serif; }


.myuw-search, .myuw-thin-bar, .myuw-navigation, .myuw-body, .myuw-footer {

    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

}

.myuw-wrapper { margin: 0 auto; padding: 0 20px;
    @include desktop { position: relative; max-width: 1200px };
}


.myuw-search {
    background-color: #eee;
    text-align: center;
    max-height: 0;
    overflow-y: hidden;

    form { padding: 5px;
        input { background: none; border: none; }
    }

}

.myuw-thin-bar {
    //background: lighten( $uw-purple, 5% );
    background: $uw-purple;
    line-height: $bar-height;
    height: $bar-height;
    font-size: 14px;
    border-bottom: solid 1px darken($uw-purple, 5%);


    a { color: #fff; display: inline-block; text-decoration: none;
        .fa-stack { font-size: 12px; color: lighten( $uw-purple, 15% ); }
    }

    .myuw-netid {
        span { font-size: 13px; color: #999; display: inline-block; margin-left: 3px; }
    }

    .myuw-search-links { display: inline-block; float: right; color: #fff; margin-right: -3px; font-size: 16px;
        a { display: inline-block; min-width: 30px; text-align: center; margin-left: 8px;
            span { font-size: 13px; color: #999; }
        }
        button { color: #fff; text-decoration: none; padding: 0; min-width:30px; height: $bar-height; display: inline-block; margin-left: 8px;
            background: none; border: none;
            span { font-size: 13px; color: #999; }
        }
    }
}

.myuw-navigation { background: $uw-purple;

    background-image: url("/assets/img/uw-logo-white-min.png");
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: right 20px bottom;

    @include desktop { position: relative; box-shadow: 0 1px 3px rgba(34,25,25,.25); background-position: right 2% bottom; };
    @include large-desktop { position: relative; box-shadow: 0 1px 3px rgba(34,25,25,.25); background-position: right 3.5% bottom; };

    .myuw-title { display: none;

        @include desktop {
            float: left;
            display: inline-block;
            color: #fff;
            font-size: 26px;
            font-weight: 400;
            line-height: $nav-height;
            height: $nav-height;
        }
    }

    .myuw-logo { float: left;

        display: inline-block;
        position: relative;
        //box-shadow: 0 1px 3px rgba(34,25,25,.25);
        //background-image: url("/assets/img/uw-logo-white.png");
        background-repeat: no-repeat;
        background-size: 60px;
        background-position: 89% 100%;

        @include desktop { background-position: 98% 100%; box-shadow: none; padding: 0; display: none; };

        height: $nav-height;
        line-height: $nav-height;

        button {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            //text-transform: uppercase;
            font-weight: 400;
            line-height: $nav-height;
            height: $nav-height;
            display: inline-block;
            padding: 0;
            margin: 0;
            background: none;
            border: none;
            margin-left: -2px;

            //@include desktop { display: none; }

            .fa-stack { font-size: 15px; margin-top: -3px; color: #ccc; }

        }

    }

    .myuw-notices { display: none; color:#fff; float: right; height: $nav-height; line-height: $nav-height; font-size: 14px;
        @include tablet { display: inline-block;; margin: 0; }
        @include desktop { display: inline-block;; margin: 0; }
    }

}

.myuw-menu { padding: 0; margin: 0 -20px; list-style: none; background: #ECE9E2; max-height: 0; overflow: hidden; font-size: 14px;

    @include desktop { max-height: 1000px; margin: 0; overflow: visible; float: left; width: 20%; background: transparent; }

    li { line-height: 30px; padding: 0; margin-left: 20px; font-weight: bold; text-transform: uppercase;

        &:first-child { margin-top: 20px; }
        &:last-child { margin-bottom: 20px; }

        @include desktop { margin: 0 !important; }

        a { text-decoration: none; color: #555;
            .fa { display: none;

                @include desktop { display: inline-block; width: 20px; }
            }
        }


    }
}

.myuw-body {

    @include desktop { margin-top: 15px;  }

    h1 { font-size: 22px; color: #444; font-weight: 400; }
    h2 { margin-top: 0; color: $uw-purple; font-size: 16px; font-weight: 400; text-transform: uppercase; }
}

.myuw-content { margin: 0;

    @include desktop { float: left; width: 51.5%; margin: 0 20px; };

    .myuw-topper { margin-left: -20px; margin-right: -20px; font-size: 14px; border-top: solid 1px #ccc;
        @include desktop { margin: 0; }

        a { text-decoration: none; color: #333; display:block; line-height: 35px; background: #eee; border-bottom: solid 1px #ccc; }

        .myuw-accounts {

            &:after { content: ""; display: table; clear: both; }

            a { float: left; width: 50%; text-align: center;
                &:first-child { border-right: solid 1px #ccc; width: 49.6%; }
            }
        }

        .myuw-week-counter { }

    }

    .myuw-card { padding: 20px 0; border-bottom: solid 1px #ddd; background: #fff;
        @include desktop { border: none; margin-bottom: 15px; padding: 20px; box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.1); };
    }
}

.myuw-quicklinks { background: #fff; padding: 20px 0;

    @include desktop { float: right; width: 20%; padding: 20px; box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.1); };

}

.myuw-footer { padding: 0 20px; line-height: $bar-height; font-size: 14px; color: #999; }
