---
---

/*** variables ***/
$uw-purple: #4b2e83;

.myuw-search {
    background-color: $uw-purple;
    line-height: 35px;
    color: #ccc;
    padding: 0 15px;

    a { color: #fff; }
}

.myuw-navigation {

    $nav-height: 60px;



    .myuw-profile {

        padding: 0 15px;

        background-image: url("/assets/img/uw-logo.png");
        background-repeat: no-repeat;
        background-position: 97%;
        background-size: 50px;

        height: $nav-height;
        line-height: $nav-height;
        border-bottom: 2px solid #eee;
        .fa-circle { color: red; }
    }
    .myuw-menu { margin: 0; padding: 0; background: #f3f3f3;
        li { margin-right: 20px; line-height: 25px; }
    }

}

.myuw-content {
    margin-bottom: 60px;
}
.myuw-quicklinks {
    position: fixed;
    bottom: 0;
    background: #eee;
    padding: 20px;
    left:0;
    right: 0;
}
