---
---

/*** variables ***/
$uw-purple: #4b2e83;
$nav-height: 65px;
$bar-height: 40px;

/*** mixins ***/

$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

/*** helpers ***/

.visually-hidden  {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.slide-down {
    max-height: 1000px !important;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

/*** myuw ***/

body { background: #eee; }

.myuw-wrapper {
    @include desktop { max-width: 1000px; margin: 0 auto; position: relative; };
}

.myuw-search {
    background-color: #eee;
    text-align: center;
    max-height: 0;
    overflow-y: hidden;

    form { padding: 5px;
        input { background: none; border: none; }
    }

}

.myuw-purple-bar {
    background-color: $uw-purple;
    line-height: $bar-height;
    height: $bar-height;
    padding: 0 20px;
    clear: left;
    font-size: 14px;

    a { color: #fff; display: inline-block; text-decoration: none;
        .fa-stack { font-size: 12px; color: lighten( $uw-purple, 15% ); }
    }

    .myuw-search-links { display: inline-block; float: right; text-transform: uppercase; color: #fff; margin-right: -3px; font-size: 16px;
        a { display: inline-block; width: 30px; text-align: center; }
        button { color: #fff; text-decoration: none;  text-transform: uppercase; padding: 0; width:30px; height: $bar-height; display: inline-block;
            background: none; border: none;
        }
    }
}

.myuw-navigation { background: #fff;

    @include desktop { position: relative; box-shadow: 0 1px 3px rgba(34,25,25,.25); };

    .myuw-logo {
        position: relative;
        background: #fff;
        //border-bottom: 2px solid #d1d1d1;

        box-shadow: 0 1px 3px rgba(34,25,25,.25);
        @include desktop { box-shadow: none; };

        padding: 0 20px;
        background-image: url("/assets/img/uw-logo.png");
        background-repeat: no-repeat;
        background-size: 60px;
        background-position: 89% 102%;
        @include desktop { background-position: 98% 102%; };

        height: $nav-height;
        line-height: $nav-height;

        button {
            text-decoration: none;
            color: #222;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            line-height: $nav-height;
            height: $nav-height;
            display: inline-block;
            padding: 0;
            margin: 0;
            background: none;
            border: none;

            @include desktop { display: none; }

            .fa-stack { font-size: 15px; margin-top: -3px; color: #ccc; }

        }

    }

    .myuw-menu { padding: 0; margin: 0; list-style: none; background: #ECE9E2; max-height: 0; overflow: hidden;

        @include desktop {
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 29%;
            background: transparent;
            display: block;
            overflow: visible;
            text-align: center;
            max-height: none;
        };

        li { line-height: 30px; padding: 0; margin-left: 20px; font-weight: bold; text-transform: uppercase;

            &:first-child { margin-top: 20px; }
            &:last-child { margin-bottom: 20px; }

            a { text-decoration: none; color: #555;

                .fa { display: none;
                    @include desktop { color:#aaa; display: inline-block; }
                }
            }

            @include desktop { display: inline-block; line-height: $nav-height; padding-left: 0; margin-top:0 !important; margin-left: 0; margin-right: 25px; };

        }
    }

}

.myuw-content { margin: 0;

    @include desktop { margin-top: 15px; };

    .myuw-card { padding: 20px; border-bottom: solid 1px #ddd; background: #fff;

        @include desktop { width: 67%; border: none; margin-bottom: 15px; };
    }
}

.myuw-quicklinks {

    background: #fff; padding: 20px;

    @include desktop { position: absolute; width: 23%; top: 0; right: 0;  };

}
