---
---

/*** variables ***/
$uw-purple: #4b2e83;

$nav-height: 60px;

/*** mixins ***/

$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.myuw-search {
    background-color: $uw-purple;
    line-height: 35px;
    height: 35px;
    color: #ccc;
    padding: 0 15px;
    clear: left;

    a { color: #fff; display: inline-block; float: left; }
    .myuw-search-links { display: inline-block; float: right; }
}

.myuw-navigation { background: #fff;

    @include desktop { position: relative; };

    .myuw-logo {

        padding: 0 15px;

        background-image: url("/assets/img/uw-logo.png");
        background-repeat: no-repeat;
        background-position: 97%;
        background-size: 50px;

        height: $nav-height;
        line-height: $nav-height;
        border-bottom: 2px solid #d1d1d1;

    }

    .myuw-menu { margin: 0; padding: 0; background: #ECE9E2;  list-style: none;

        @include desktop { position: absolute; top: 0; left: 200px; right: 100px; background: transparent; };

        li { line-height: 30px; padding: 0 15px;
            @include desktop { display: inline-block; margin-right: 20px; line-height: $nav-height; };
        }
    }

}

.myuw-content {
    background: #fff;
    margin-bottom: 150px;
    padding: 15px;
}

.myuw-quicklinks {
    position: fixed;
    bottom: 0;
    background: #eee;
    padding: 20px;
    left:0;
    right: 0;
}
