<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title | escape }} : {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

        <script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js"></script>

        <script type="text/javascript" src="{{ "/assets/js/main.js" | relative_url }}"></script>

    </head>
    <body>

        {% assign user = site.data.profiles.[site.uw_logged_in] %}

        <div class="myuw-search" id="search_container">
            <div class="myuw-wrapper">
                <form action="/results/">
                    <input type="text" name="" value="" style="border:solid 1px purple;">
                    <input type="submit">
                </form>
            </div>
        </div>

        <div class="myuw-thin-bar">
            <div class="myuw-wrapper">
                <a href="/" class="myuw-home-link">UW.edu</a>

                <div class="myuw-search-links">
                    <a href="/profile/"><i class="fa fa-user" aria-hidden="true"></i> <span class="visually-hidden-mobile">{{ user.uw_netid }}</span></a>
                    <button id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i> <span class="visually-hidden-mobile">Search</span></button>
                    <a href=""><i class="fa fa-envelope" aria-hidden="true"></i> <span class="visually-hidden-mobile">Email</span></a>
                    <a href=""><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="visually-hidden-mobile">Help</span></a>
                </div>
            </div>
        </div>

        <div class="myuw-navigation">

            <div class="myuw-wrapper">

                <div class="myuw-title">MyUW</div>
                <div class="myuw-logo">
                    <button id="menu_toggle"></i>
                        <span class="fa-stack fa-md">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-bars fa-stack-1x"></i>
                        </span>
                            {% if page.permalink == '/results/' or page.permalink == '/profile/' %}MyUW{% else %}{{ page.title }}{% endif %}
                    </button>
                </div>

                <div class="myuw-notices">Notices.. sadkj lasdfkj</div>
            </div>

        </div>

        <div class="myuw-body">
            <div class="myuw-wrapper">

                <ul id="menu_container" class="myuw-menu">

                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>

                    {% if user.uw_affiliation == 'student' %}
                    <li><a href="/academics/"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Academics</a></li>
                    <li><a href="/huskyexp/"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Husky Experience</a></li>
                    <li><a href="/calendar/"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a></li>
                    <li><a href="/accounts/"><i class="fa fa-address-card" aria-hidden="true"></i> Accounts</a></li>
                    {% endif %}

                    {% if user.uw_affiliation == 'faculty' %}
                    <li><a href="/teaching/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Teaching</a></li>
                    <li><a href="/calendar/"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a></li>
                    <li><a href="/accounts/"><i class="fa fa-address-card" aria-hidden="true"></i> Accounts</a></li>
                    {% endif %}

                    {% if user.uw_affiliation == 'staff' %}
                    <li><a href="/accounts/"><i class="fa fa-address-card" aria-hidden="true"></i> Accounts</a></li>
                    {% endif %}
                </ul>

                <div class="myuw-content">
                    <h1 class="visually-hidden-mobile">{{ page.title }}</h1>
                    {{ content }}
                </div>

                <div class="myuw-quicklinks">
                    <h2>Quicklinks</h2>
                    <ul>
                        <li>quicklinks</li>
                        <li>quicklinks</li>
                        <li>quicklinks</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="myuw-footer">
            <div class="myuw-wrapper">
            University of Washington &copy; 2017
            </div>
        </div>

    </body>
</html>
