<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title | escape }} : {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

        <script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js"></script>

        <script type="text/javascript" src="{{ "/assets/js/main.js" | relative_url }}"></script>

        <style>
		.hidden {
			display: none;
		}
	      </style>

    </head>
    <body>

        {% assign user = site.data.profiles.[site.uw_logged_in] %}

        <div class="myuw-search">
            <form action="/results/">
                <input type="text" name="" value="" style="border:solid 1px purple;">
                <input type="submit">
            </form>
        </div>

        <div class="myuw-purple-bar">
            <a href="/profile/">{{ user.uw_netid }}</a>
            <div class="myuw-search-links"><button id="search_toggle">search</button> | help</div>
        </div>

        <div class="myuw-navigation">

            <div class="myuw-logo">
                <a href="/">MyUW</a>
                <button id="menu_toggle">menu</button>
            </div>

            <ul id="menu_container" class="myuw-menu">

                {% if user.uw_affiliation == 'student' %}
                <li><a href="/academics/">Academics</a></li>
                <li><a href="/huskyexp/">Husky Experience</a></li>
                <li><a href="/calendar/">Events/Academic Calendar</a></li>
                <li><a href="/accounts/">Accounts</a></li>
                {% endif %}

                {% if user.uw_affiliation == 'faculty' %}
                <li><a href="/teaching/">Teaching</a></li>
                <li><a href="/calendar/">Events/Academic Calendar</a></li>
                <li><a href="/accounts/">Accounts</a></li>
                {% endif %}

                {% if user.uw_affiliation == 'staff' %}
                <li><a href="/accounts/">Accounts</a></li>
                {% endif %}

            </ul>

        </div>

        <div class="myuw-content">
            {{ content }}
        </div>

        <div class="myuw-quicklinks">
            <ul>
                <li>quicklinks</li>
                <li>quicklinks</li>
                <li>quicklinks</li>
            </ul>
        </div>

    </body>
</html>
